.title {
  border-bottom: 1px solid rgb(227, 227, 227);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.orders {
  padding: 1rem;
}
.addresses {
  select {
    width: 100%;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid black;
  }
}
.account_detail {
  select {
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid black;
  }
  .form {
    width: 100%;
    font-size: 16px;
    select {
      width: 100%;
    }
  }
}
.input_group {
  width: 100%;
  display: flex;
  margin: 14px 0;
  position: relative;
  .error_note {
    color: crimson;
    line-height: 0;
    margin: 14px 0 0 0;
    font-size: 13px;
  }
  .label {
    margin-right: 20px;
  }
  input {
    padding: 6px 12px;
    font-size: 16px;
    width: 100%;
  }
  .input_wrap {
    width: 100%;
    max-width: 600px;
    position: relative;
  }
}
.order_detail {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  position: absolute;
  overflow-y: overlay;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px 0;
  .title {
    border: none;
    color: var(--orange-2);
    padding-left: 30px;
  }
  .wrapper_1 {
    display: flex;
    margin-bottom: 20px;
    padding-left: 30px;
  }
  .item {
    flex: 1;
    .wrapper_1_title {
      color: gray;
      font-size: 14px;
    }
  }
  .wrapper_2 {
    padding-left: 30px;
    padding-right: 100px;
    background: rgb(243, 243, 243);
    .order_item {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
    }
    .total_price {
      text-align: end;
      color: rgb(255, 85, 0);
      font-size: 17px;
      font-weight: bold;
      padding: 10px 0;
    }
  }
}
button {
  cursor: pointer;
}
