.introduce {
  color: var(--text-dark);
  .wapper {
    .first_intro {
      padding: 50px 15px;
      max-width: var(--max-width);
      margin-left: auto;
      margin-right: auto;

      gap: 30px;
      .image {
        width: 100%;
      }
      .detail {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
          font-size: 38px;
          margin-bottom: 16px;
        }
      }
    }
  }
  .features {
    padding: 50px 15px;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    .item {
      margin-bottom: 16px;
      .icon {
        transform: translate(0, 4px);
      }
      .title {
        margin-bottom: 10px;
      }
      display: flex;
      gap: 12px;
    }
  }
}
