.wishlist_page {
  .container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 50px 15px;
    .page_title {
      text-align: center;
      font-size: 28px;
      margin-bottom: 30px;
    }
    .product_cell {
      display: flex;
      align-items: center;
      gap: 0px;
      .image {
        width: 60px;
        height: 60px;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .name {
        font-weight: 500;
        font-size: 16px;
      }
    }
    .price {
      font-weight: 500;
      font-size: 16px;
    }
  }
}
