.button {
  background-color: var(--orange-1);
  border: none;
  padding: 2px 5px;
  border-radius: 4px;
  transition: all 0.3s;
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  line-height: 150%;
  cursor: pointer;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    opacity: 0;
    transition: all 0.3s;
  }
  &:hover > .overlay {
    opacity: 0.3;
  }
}
.button[variant="text"] {
  background-color: transparent;
  color: var(--text-light);
  font-weight: 400;
  &:hover {
    color: var(--orange-1);
  }
}
.button[variant="text-underline"] {
  background-color: transparent;
  color: var(--text-light);
  font-weight: 400;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
  &:hover {
    color: var(--orange-1);
    border-color: var(--orange-1);
  }
}
.button[variant="primary"] {
  background-color: var(--orange-1);
}
.button[variant="outline"] {
  background-color: var(--text-light);
  border: 1px solid var(--orange-1);
}
.button[variant="none"] {
  background-color: transparent;
  padding: 0;
}
