.button {
  background-color: var(--orange-1);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  transition: all 0.3s;
  color: var(--text-light);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 14px;
  user-select: none;
  box-shadow: 
  inset 0px 0px 0px 100px rgba(0, 0, 0,0),
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  // overflow: hidden;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    * {
      line-height: 150%;
    }
  }
  cursor: pointer;
  &:active {
    opacity: 0.7;
    transition: all 0s;
    &:before {
      transition: all 0s;
    }
  }
}
.button[variant="text"] {
  background-color: transparent;
  color: var(--text-light);
  font-weight: 400;
  padding: 0;
  text-align: start;
  box-shadow: none;
  &:hover {
    color: var(--orange-1) !important;
  }
}
.button[variant="text-underline"] {
  background-color: transparent;
  color: var(--text-light);
  font-weight: 400;
  border-radius: 0;
  border-bottom: 1px solid transparent;
  padding-left: 0;
  padding-right: 0;
  &:hover {
    color: var(--orange-1);
    border-color: var(--orange-1);
  }
}
.button[variant="primary"] {
  background-color: var(--orange-1);
}
.button[variant="outline"] {
  color: var(--text-dark-1);
  border: 1px solid var(--text-gray);
  background-color: transparent;

  &:hover {
    background-color: var(--orange-1) !important;
    color: var(--text-light) !important;
    border-color: var(--orange-1) !important;
  }
}
.button[variant="contained"] {
  border-radius:5px;
  
    &:hover {
    box-shadow: 
    inset 0px 0px 0px 100px rgba(0, 0, 0,0.12),
    rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all 0.3s ease-in-out;
  }
 
}
.button[variant="contained"][animate="none"] {
  &:before {
    transition: all 0s;
  }
}
.button[variant="none"] {
  background-color: transparent;
  color: var(--orange-1);
  padding: 0;
}
.button[type="circle"] {
  padding: 4px;
  border-radius: 50%;
}
.button_content {
  z-index: 1;
}
.button[animate="none"] {
  transition: all 0s;
}
.button[disabled] {
  pointer-events: none;
  opacity: 0.6 !important;
}
.button[size="lg"]{
  padding: 12px 20px !important;

}