.sidebar_cpn {
  width: 100%;

  background-color: #fff;
  .group {
    .title {
      padding: 20px 0;
    }
    .items {
      padding: 16px;
      border-radius: 4px;
      border: 1px solid lightgray;
      .item {
        padding: 6px 0;
        border-bottom: 1px solid rgb(238, 238, 238);
        display: flex;
        gap: 10px;
        .item_dt {
          .name {
            color: gray;
            font-size: 14px;
          }
          .price {
            font-size: 14px;
            font-weight: 500;
          }
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
        .image {
          width: 60px;
          height: 60px;
          object-fit: contain;
          border: 1px solid rgb(190, 190, 190);
        }
      }
    }
    .blog_items {
      border: 1px solid lightgray;
      padding: 0 15px;
      .item:nth-child(1) {
        border: none;
      }
      .item {
        display: flex;
        gap: 10px;
        align-items: center;

        padding: 20px 0;
        border-top: 1px solid lightgray;

        .image {
          min-width: 42px;
          height: 42px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          border-radius: 50px;
        }
        .title {
          padding: 0;
          font-size: 16px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }
  }
}
