.header_pc {
  .btn_active {
    color: var(--orange-1);
    border-bottom: 1px solid var(--orange-1);
    transition: 0s all;
  }
  .bottom.fixed.hide {
    transform: translate(0, -100%);
    opacity: 0;
  }
  .bottom.fixed {
    transition: 0.3s;
    background-color: var(--dark-1);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 100;
    max-width: 2000px;
    opacity: 1;
  }
}
.header_pc {
  background-color: var(--dark-1);
  color: var(--text-light);
  .top {
    max-width: var(--max-width);
    padding: 25px 10px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    min-height: 40px;
    max-height: 40px;
    .right {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: end;
      gap: 6px;
      .icon {
        font-size: 15px;
      }
    }
    .left {
      display: flex;
      width: 100%;
      align-items: center;
      gap: 20px;
      .infor {
        display: flex;
        gap: 6px;
        p {
          font-size: 14px;
        }
      }
    }
  }
  .center {
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 15px 10px;
    display: flex;
    .left {
      .logo {
        .img {
          width: 200px;
        }
      }
    }
    .center {
      flex: 1;
      .wrap_form {
        width: 70%;
        .search_form {
          margin-left: auto;
          width: 70%;
          display: flex;
          .search_input {
            padding: 10px;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            height: 38px;
            flex: 1;
            &:focus {
              box-shadow: 0px 0px 3px 2px rgba(255, 255, 255, 0.4);
            }
          }
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 26px;
      .cart_icon {
        cursor: pointer;
        width: 28px;
        height: 28px;
        position: relative;
        &:hover > div.body {
          background-color: var(--text-light);
        }
        &:hover > div:nth-child(1) {
          top: -50%;
        }
        div:nth-child(1) {
          position: absolute;
          width: 14px;
          height: 14px;
          border-radius: 50%;
          border: 2px solid var(--text-light);
          top: -45%;
          left: 50%;
          transform: translate(-50%, 50%);
          z-index: 0;
        }
        div:nth-child(2) {
          position: absolute;

          width: 100%;
          height: 100%;
          border: solid 2px var(--text-light);
          background-color: var(--dark-1);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: var(--orange-1);
          z-index: 1;
        }
      }
    }
  }
  .bottom {
    max-width: var(--max-width);
    padding: 15px 10px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    .navigation {
      display: flex;
      gap: 50px;
      height: 100%;
      .item {
       
      }
    }
  }
}
.header_mobile {
  background-color: var(--dark-1);
  color: var(--text-light);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 50;
  .top {
    display: none;
  }
  .main {
    line-height: 0;
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
    padding: 6px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      .icon {
        font-size: 30px;
        cursor: pointer;
      }
    }
    .center {
      .logo {
        .img {
          width: 100%;
          max-width: 220px;
          min-width: 100px;
        }
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 26px;
      .icon {
        font-size: 30px;
      }
      .cart_icon {
        width: 34px;
        height: 34px;
        position: relative;
        &:hover > div.body {
          background-color: var(--text-light);
        }
        &:hover > div:nth-child(1) {
          top: -50%;
        }
        div:nth-child(1) {
          position: absolute;
          width: 18px;
          height: 18px;
          border-radius: 50%;
          border: 2px solid var(--text-light);
          top: -45%;
          left: 50%;
          transform: translate(-50%, 50%);
          z-index: 0;
        }
        div:nth-child(2) {
          position: absolute;
          width: 100%;
          height: 100%;
          border: solid 2px var(--text-light);
          background-color: var(--dark-1);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 14px;
          color: var(--orange-1);
          z-index: 1;
        }
      }
    }
  }
}
.header_menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  background-color: rgb(248, 248, 248);
  z-index: 100;
  padding-top: 50px;
  color: gray;
  transform: translate(-100%, 0);
  transition: all 0.5s;
  .input_group {
    display: flex;
    padding: 20px;
    input {
      border: 0.5px solid lightgray;
      flex: 1;
      padding: 4px 10px;
    }
  }
  .list {
    width: 100%;
    .item {
      padding: 15px 20px;
      border-bottom: 1px solid lightgray;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background-color: rgb(224, 224, 224);
      }
    }
    .item.account{
      border-bottom: none;
      &:hover {
        background-color: inherit;
      }
      .list_account_option{
        list-style-type: disc;
        font-weight: 400;
        padding: 10px 30px;
        cursor: pointer;
        li{
          padding: 5px;
        }
        
      }
    }

    .item:nth-child(1) {
      border-top: 1px solid lightgray;
    }
  }
}
.header_menu.show {
  transform: translate(0, 0);
}
