@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
body{
  overflow: auto;
  margin: 0;

  max-height: 100vh
}
html {
  overflow: hidden; /* This one is important to avoid the propagation */
}
:root {
  --orange-2: rgb(210, 110, 75);
  --orange-1: #c89979;
  --dark-1: rgb(51, 51, 51);
  --dark-2: rgb(34, 34, 34);
  --text-gray: rgb(188, 188, 188);
  --text-light: #fff;
  --text-dark: #000;
  --text-dark-0: rgb(58, 58, 58);
  --text-dark-1: rgb(75, 75, 75);
  --max-width: 1200px;
  --red-1: rgb(220, 55, 88);
  --red-0: rgb(244, 165, 181);
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline: none;
}
ul {
  list-style-type: none;
}
input,
textarea {
  outline: none;
  border: none;
  background-color: rgb(241, 241, 241);
}
.global_styles {
  background-color: var(--primary-color);
  color: var(--text-dark-0);
  line-height: 150%;
}
h1 {
  line-height: 100%;
}
@media screen and (max-width: 900px) {
  .pc {
    display: none !important;
  }
}
@media screen and (min-width: 900px) {
  .n_pc {
    display: none !important;
  }
}
.price::after {
  content: "₫";
  font-weight: 500;
  // margin-left: 4px;
}

.price_wrapper{
  display: flex;
  gap: 5px;
}
.sale_price{
  color: var(--orange-2)
}
.origin_price{
  text-decoration: line-through;
  color:rgb(188, 188, 188);
}